ServerRoot "/etc/httpd"
PidFile run/httpd.pid

<IfModule prefork.c>
    StartServers        {% if 'prefork' in httpd and httpd.prefork and 'startservers' in httpd.prefork and httpd.prefork.startservers %}
{{ httpd.prefork.startservers }}{% else %}2{% endif %}

    MinSpareServers     {% if 'prefork' in httpd and httpd.prefork and 'minspare' in httpd.prefork and httpd.prefork.minspare %}
{{ httpd.prefork.minspare }}{% else %}8{% endif %}

    MaxSpareServers     {% if 'prefork' in httpd and httpd.prefork and 'maxspare' in httpd.prefork and httpd.prefork.maxspare %}
{{ httpd.prefork.maxspare }}{% else %}24{% endif %}

    ServerLimit         {% if 'prefork' in httpd and httpd.prefork and 'limit' in httpd.prefork and httpd.prefork.limit %}
{{ httpd.prefork.limit }}{% else %}122{% endif %}

    MaxClients          {% if 'prefork' in httpd and httpd.prefork and 'maxclients' in httpd.prefork and httpd.prefork.maxclients %}
{{ httpd.prefork.maxclients }}{% else %}122{% endif %}

    MaxRequestsPerChild {% if 'prefork' in httpd and httpd.prefork and 'max_req_per_child' in httpd.prefork and httpd.prefork.max_req_per_child %}
{{ httpd.prefork.max_req_per_child }}{% else %}256{% endif %}

</IfModule>

<IfModule worker.c>
    StartServers        {% if 'worker' in httpd and httpd.worker and 'startservers' in httpd.worker and httpd.worker.startservers %}
{{ httpd.worker.startservers }}{% else %}4{% endif %}

    MinSpareThreads     {% if 'worker' in httpd and httpd.worker and 'minspare' in httpd.worker and httpd.worker.minspare %}
{{ httpd.worker.minspare }}{% else %}25{% endif %}

    MaxSpareThreads     {% if 'worker' in httpd and httpd.worker and 'maxspare' in httpd.worker and httpd.worker.maxspare %}
{{ httpd.worker.maxspare }}{% else %}75{% endif %}

    MaxClients          {% if 'worker' in httpd and httpd.worker and 'maxclients' in httpd.worker and httpd.worker.maxclients %}
{{ httpd.worker.maxclients }}{% else %}300{% endif %}

    ThreadsPerChild     {% if 'worker' in httpd and httpd.worker and 'th_per_child' in httpd.worker and httpd.worker.th_per_child %}
{{ httpd.worker.th_per_child }}{% else %}256{% endif %}

    MaxRequestsPerChild {% if 'worker' in httpd and httpd.worker and 'max_req_per_child' in httpd.worker and httpd.worker.max_req_per_child %}
{{ httpd.worker.max_req_per_child }}{% else %}256{% endif %}

</IfModule>

Include conf.modules.d/*.conf
Include conf.d/servername.conf

IncludeOptional conf.d/*.mod.conf
IncludeOptional conf.d/*.vhost.conf

ExtendedStatus On

User apache
Group apache

ServerAdmin root@localhost
UseCanonicalName Off

<Directory />
    Options FollowSymLinks
    AllowOverride None
</Directory>

<IfModule mod_userdir.c>
    UserDir disabled
</IfModule>

DirectoryIndex index.html index.html.var
AccessFileName .htaccess

<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

TypesConfig /etc/mime.types

<IfModule mod_mime_magic.c>
    MIMEMagicFile conf/magic
</IfModule>

HostnameLookups Off

Alias /icons/ "/var/www/icons/"
<Directory "/var/www/icons">
    Options Indexes MultiViews FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"
<Directory "/var/www/cgi-bin">
    AllowOverride None
    Options None
    Order allow,deny
    Allow from all
</Directory>

IndexOptions FancyIndexing VersionSort NameWidth=* HTMLTable Charset=UTF-8
AddIconByEncoding (CMP,/icons/compressed.gif) x-compress x-gzip
AddIconByType (TXT,/icons/text.gif) text/*
AddIconByType (IMG,/icons/image2.gif) image/*
AddIconByType (SND,/icons/sound2.gif) audio/*
AddIconByType (VID,/icons/movie.gif) video/*
AddIcon /icons/binary.gif .bin .exe
AddIcon /icons/binhex.gif .hqx
AddIcon /icons/tar.gif .tar
AddIcon /icons/world2.gif .wrl .wrl.gz .vrml .vrm .iv
AddIcon /icons/compressed.gif .Z .z .tgz .gz .zip
AddIcon /icons/a.gif .ps .ai .eps
AddIcon /icons/layout.gif .html .shtml .htm .pdf
AddIcon /icons/text.gif .txt
AddIcon /icons/c.gif .c
AddIcon /icons/p.gif .pl .py
AddIcon /icons/f.gif .for
AddIcon /icons/dvi.gif .dvi
AddIcon /icons/uuencoded.gif .uu
AddIcon /icons/script.gif .conf .sh .shar .csh .ksh .tcl
AddIcon /icons/tex.gif .tex
AddIcon /icons/bomb.gif core
AddIcon /icons/back.gif ..
AddIcon /icons/hand.right.gif README
AddIcon /icons/folder.gif ^^DIRECTORY^^
AddIcon /icons/blank.gif ^^BLANKICON^^

DefaultIcon /icons/unknown.gif
ReadmeName README.html
HeaderName HEADER.html
IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t
AddLanguage ca .ca
AddLanguage cs .cz .cs
AddLanguage da .dk
AddLanguage de .de
AddLanguage el .el
AddLanguage en .en
AddLanguage eo .eo
AddLanguage es .es
AddLanguage et .et
AddLanguage fr .fr
AddLanguage he .he
AddLanguage hr .hr
AddLanguage it .it
AddLanguage ja .ja
AddLanguage ko .ko
AddLanguage ltz .ltz
AddLanguage nl .nl
AddLanguage nn .nn
AddLanguage no .no
AddLanguage pl .po
AddLanguage pt .pt
AddLanguage pt-BR .pt-br
AddLanguage ru .ru
AddLanguage sv .sv
AddLanguage zh-CN .zh-cn
AddLanguage zh-TW .zh-tw
LanguagePriority es en ca cs da de el eo et fr he hr it ja ko ltz nl nn no pl pt pt-BR ru sv zh-CN zh-TW
ForceLanguagePriority Prefer Fallback

AddDefaultCharset UTF-8

AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl
AddHandler type-map var
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml

Alias /error/ "/var/www/error/"

<IfModule mod_negotiation.c>
    <IfModule mod_include.c>
        <Directory "/var/www/error">
            AllowOverride None
            Options IncludesNoExec
            AddOutputFilter Includes html
            AddHandler type-map var
            Order allow,deny
            Allow from all
            LanguagePriority en es de fr
            ForceLanguagePriority Prefer Fallback
        </Directory>
    </IfModule>
</IfModule>

<Directory /var/www>
    Options Indexes FollowSymLinks
    AllowOverride None
    Order allow,deny
    Deny from All
</Directory>

BrowserMatch "Mozilla/2" nokeepalive
BrowserMatch "MSIE 4\.0b2;" nokeepalive downgrade-1.0 force-response-1.0
BrowserMatch "RealPlayer 4\.0" force-response-1.0
BrowserMatch "Java/1\.0" force-response-1.0
BrowserMatch "JDK/1\.0" force-response-1.0
BrowserMatch "Microsoft Data Access Internet Publishing Provider" redirect-carefully
BrowserMatch "MS FrontPage" redirect-carefully
BrowserMatch "^WebDrive" redirect-carefully
BrowserMatch "^WebDAVFS/1.[0123]" redirect-carefully
BrowserMatch "^gnome-vfs/1.0" redirect-carefully
BrowserMatch "^XML Spy" redirect-carefully
BrowserMatch "^Dreamweaver-WebDAV-SCM1" redirect-carefully

Listen 0.0.0.0:80

Timeout {% if 'timeout' in httpd and httpd.timeout %}
{{ httpd.timeout }}{% else %}90{% endif %}

KeepAlive {% if 'keepalive' in httpd and httpd.keepalive %}
{{ httpd.keepalive }}{% else %}Off{% endif %}

MaxKeepAliveRequests {% if 'maxkeepaliverequest' in httpd and httpd.maxkeepaliverequest %}
{{ httpd.maxkeepaliverequest }}{% else %}90{% endif %}

KeepAliveTimeout {% if 'keepalivetimeout' in httpd and httpd.keepalivetimeout %}
{{ httpd.keepalivetimeout }}{% else %}25{% endif %}

ServerSignature Off
ServerTokens ProductOnly
TraceEnable Off

{% if 'header' in 'httpd' %}
{% if 'append' in httpd.header %}
{% for add in http.header.append %}
Header always append {{ add }}
{% endfor %}
{% endif %}
{% if 'set' in httpd.header %}
{% for add in http.header.set %}
Header always set {{ add }}
{% endfor %}
{% endif %}
{% endif %}
